demo-code/enterpise_b.json
[
    {
        "id": "a23d897f30b13a58",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e19993562655604",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "Break code",
        "func": "let store = flow.get('store') || {};\nlet parts = msg.topic.split(\"/\");\n\nlet current = store;\nfor (let i = 0; i < parts.length - 1; i++) {\n    if (!current[parts[i]]) current[parts[i]] = {};\n    current = current[parts[i]];\n}\n\nlet value;\nif (!isNaN(msg.payload) && msg.payload !== \"\") value = Number(msg.payload);\nelse if (msg.payload === \"true\" || msg.payload === \"false\") value = msg.payload === \"true\";\nelse value = msg.payload;\n\ncurrent[parts[parts.length - 1]] = value;\n\nflow.set('store', store);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "cfddf4e31cb7cf52",
                "635f9afd390557f8"
            ]
        ]
    },
    {
        "id": "113208254cb00502",
        "type": "mqtt in",
        "z": "a23d897f30b13a58",
        "name": "Site 1",
        "topic": "Enterprise B/Site1/liquidprocessing/tankstorage01/tank01/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6907155e04a9954",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "4e19993562655604"
            ]
        ]
    },
    {
        "id": "cfddf4e31cb7cf52",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "KPI-1",
        "func": "let site_id = \"Site1\";\nlet store = flow.get('store');\nif (!store) return null;\n\nlet tank = store[\"Enterprise B\"]\n    ?.[site_id]\n    ?.liquidprocessing\n    ?.tankstorage01\n    ?.tank01;\n\nif (!tank?.metric || !tank?.lotnumber) return null;\n\nlet row = {\n    dbms: \"enterpriseb\",\n    table: \"kpi\",\n    timestamp: flow.get(`ts_${site_id}`) || flow.get('factory_timestamp') || new Date().toISOString(),\n    site: site_id,\n    lotnumberid: tank.lotnumber.lotnumber,\n    oee: tank.metric.oee,\n    performance: tank.metric.performance,\n    quality: tank.metric.quality,\n    availability: tank.metric.availability\n};\n\nmsg.payload = JSON.stringify([row]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 60,
        "wires": [
            [
                "5f06ee2346f3dde4"
            ]
        ]
    },
    {
        "id": "635f9afd390557f8",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "Processing-1",
        "func": "let site = \"Site1\";\nlet store = flow.get('store');\nif (!store) return null;\n\nlet tank = store[\"Enterprise B\"]\n    ?.[site]\n    ?.liquidprocessing\n    ?.tankstorage01\n    ?.tank01;\n\nif (!tank?.processdata || !tank?.lotnumber) return null;\n\nlet row = {\n    dbms: \"enterpriseb\",\n    table: \"process\",\n    timestamp: flow.get(`ts_${site}`) || flow.get('factory_timestamp') || new Date().toISOString(),\n    site,\n    lotnumberid: tank.lotnumber.lotnumber,\n    state: tank.processdata.state?.name,\n    duration: tank.processdata.state?.duration,\n    flowrate: tank.processdata.process?.flowrate,\n    temperature: tank.processdata.process?.temperature,\n    weight: tank.processdata.process?.weight\n};\n\nmsg.payload = JSON.stringify([row]);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "92d7a2ac5838af63"
            ]
        ]
    },
    {
        "id": "5f06ee2346f3dde4",
        "type": "mqtt out",
        "z": "a23d897f30b13a58",
        "name": "",
        "topic": "kpi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a0fa9c8f135e7a4f",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "92d7a2ac5838af63",
        "type": "mqtt out",
        "z": "a23d897f30b13a58",
        "name": "",
        "topic": "processing",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a0fa9c8f135e7a4f",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa36647684c24ea0",
        "type": "mqtt in",
        "z": "a23d897f30b13a58",
        "name": "Metadata",
        "topic": "Enterprise B/metadata",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6907155e04a9954",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "200eead5b01025be"
            ]
        ]
    },
    {
        "id": "200eead5b01025be",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "Metadata Timestamp",
        "func": "// Function node: \"Store Metadata Timestamp\"\nlet meta = msg.payload;\nif (typeof meta === \"string\") meta = JSON.parse(meta);\n\n// Store factory-wide timestamp\nflow.set('factory_timestamp', meta.generated_at);\n\n// Optional: store per-site timestamp\nfor (let site in meta.virtual_devices) {\n    flow.set(`ts_${site}`, meta.virtual_devices[site].timestamp);\n}\n\nreturn msg; // just passes it along",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "cfddf4e31cb7cf52",
                "635f9afd390557f8",
                "c4fca809ff622f7e",
                "fd38894f9e2f0ef2",
                "8a70d6b6c424ce20",
                "63a549a9c757719e"
            ]
        ]
    },
    {
        "id": "75f2c53c8526ef04",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "Break code",
        "func": "let store = flow.get('store') || {};\nlet parts = msg.topic.split(\"/\");\n\nlet current = store;\nfor (let i = 0; i < parts.length - 1; i++) {\n    if (!current[parts[i]]) current[parts[i]] = {};\n    current = current[parts[i]];\n}\n\nlet value;\nif (!isNaN(msg.payload) && msg.payload !== \"\") value = Number(msg.payload);\nelse if (msg.payload === \"true\" || msg.payload === \"false\") value = msg.payload === \"true\";\nelse value = msg.payload;\n\ncurrent[parts[parts.length - 1]] = value;\n\nflow.set('store', store);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "c4fca809ff622f7e",
                "fd38894f9e2f0ef2"
            ]
        ]
    },
    {
        "id": "ca57e434484a7d21",
        "type": "mqtt in",
        "z": "a23d897f30b13a58",
        "name": "Site 2",
        "topic": "Enterprise B/Site2/liquidprocessing/tankstorage01/tank01/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6907155e04a9954",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "75f2c53c8526ef04"
            ]
        ]
    },
    {
        "id": "c4fca809ff622f7e",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "KPI-2",
        "func": "let site_id = \"Site2\";\nlet store = flow.get('store');\nif (!store) return null;\n\nlet tank = store[\"Enterprise B\"]\n    ?.[site_id]\n    ?.liquidprocessing\n    ?.tankstorage01\n    ?.tank01;\n\nif (!tank?.metric || !tank?.lotnumber) return null;\n\nlet row = {\n    dbms: \"enterpriseb\",\n    table: \"kpi\",\n    timestamp: flow.get(`ts_${site_id}`) || flow.get('factory_timestamp') || new Date().toISOString(),\n    site: site_id,\n    lotnumberid: tank.lotnumber.lotnumber,\n    oee: tank.metric.oee,\n    performance: tank.metric.performance,\n    quality: tank.metric.quality,\n    availability: tank.metric.availability\n};\n\nmsg.payload = JSON.stringify([row]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "45a7fa9c6fbef4cd"
            ]
        ]
    },
    {
        "id": "fd38894f9e2f0ef2",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "Processing-2",
        "func": "let site = \"Site2\";\nlet store = flow.get('store');\nif (!store) return null;\n\nlet tank = store[\"Enterprise B\"]\n    ?.[site]\n    ?.liquidprocessing\n    ?.tankstorage01\n    ?.tank01;\n\nif (!tank?.processdata || !tank?.lotnumber) return null;\n\nlet row = {\n    dbms: \"enterpriseb\",\n    table: \"process\",\n    timestamp: flow.get(`ts_${site}`) || flow.get('factory_timestamp') || new Date().toISOString(),\n    site,\n    lotnumberid: tank.lotnumber.lotnumber,\n    state: tank.processdata.state?.name,\n    duration: tank.processdata.state?.duration,\n    flowrate: tank.processdata.process?.flowrate,\n    temperature: tank.processdata.process?.temperature,\n    weight: tank.processdata.process?.weight\n};\n\nmsg.payload = JSON.stringify([row]);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 560,
        "wires": [
            [
                "9e6ef2fcc504eaaf"
            ]
        ]
    },
    {
        "id": "9e6ef2fcc504eaaf",
        "type": "mqtt out",
        "z": "a23d897f30b13a58",
        "name": "",
        "topic": "processing",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a0fa9c8f135e7a4f",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "45a7fa9c6fbef4cd",
        "type": "mqtt out",
        "z": "a23d897f30b13a58",
        "name": "",
        "topic": "kpi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a0fa9c8f135e7a4f",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "2762f68093dcd9b3",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "Break code",
        "func": "let store = flow.get('store') || {};\nlet parts = msg.topic.split(\"/\");\n\nlet current = store;\nfor (let i = 0; i < parts.length - 1; i++) {\n    if (!current[parts[i]]) current[parts[i]] = {};\n    current = current[parts[i]];\n}\n\nlet value;\nif (!isNaN(msg.payload) && msg.payload !== \"\") value = Number(msg.payload);\nelse if (msg.payload === \"true\" || msg.payload === \"false\") value = msg.payload === \"true\";\nelse value = msg.payload;\n\ncurrent[parts[parts.length - 1]] = value;\n\nflow.set('store', store);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "8a70d6b6c424ce20",
                "63a549a9c757719e"
            ]
        ]
    },
    {
        "id": "13203f36cf485eb8",
        "type": "mqtt in",
        "z": "a23d897f30b13a58",
        "name": "Site 3",
        "topic": "Enterprise B/Site3/liquidprocessing/tankstorage01/tank01/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "d6907155e04a9954",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "2762f68093dcd9b3"
            ]
        ]
    },
    {
        "id": "8a70d6b6c424ce20",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "KPI-3",
        "func": "let site_id = \"Site3\";\nlet store = flow.get('store');\nif (!store) return null;\n\nlet tank = store[\"Enterprise B\"]\n    ?.[site_id]\n    ?.liquidprocessing\n    ?.tankstorage01\n    ?.tank01;\n\nif (!tank?.metric || !tank?.lotnumber) return null;\n\nlet row = {\n    dbms: \"enterpriseb\",\n    table: \"kpi\",\n    timestamp: flow.get(`ts_${site_id}`) || flow.get('factory_timestamp') || new Date().toISOString(),\n    site: site_id,\n    lotnumberid: tank.lotnumber.lotnumber,\n    oee: tank.metric.oee,\n    performance: tank.metric.performance,\n    quality: tank.metric.quality,\n    availability: tank.metric.availability\n};\n\nmsg.payload = JSON.stringify([row]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "6ceb5692defd6f92"
            ]
        ]
    },
    {
        "id": "63a549a9c757719e",
        "type": "function",
        "z": "a23d897f30b13a58",
        "name": "Processing-3",
        "func": "let site = \"Site3\";\nlet store = flow.get('store');\nif (!store) return null;\n\nlet tank = store[\"Enterprise B\"]\n    ?.[site]\n    ?.liquidprocessing\n    ?.tankstorage01\n    ?.tank01;\n\nif (!tank?.processdata || !tank?.lotnumber) return null;\n\nlet row = {\n    dbms: \"enterpriseb\",\n    table: \"process\",\n    timestamp: flow.get(`ts_${site}`) || flow.get('factory_timestamp') || new Date().toISOString(),\n    site,\n    lotnumberid: tank.lotnumber.lotnumber,\n    state: tank.processdata.state?.name,\n    duration: tank.processdata.state?.duration,\n    flowrate: tank.processdata.process?.flowrate,\n    temperature: tank.processdata.process?.temperature,\n    weight: tank.processdata.process?.weight\n};\n\nmsg.payload = JSON.stringify([row]);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 800,
        "wires": [
            [
                "b9d940ee03fad4b3"
            ]
        ]
    },
    {
        "id": "6ceb5692defd6f92",
        "type": "mqtt out",
        "z": "a23d897f30b13a58",
        "name": "",
        "topic": "kpi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a0fa9c8f135e7a4f",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "b9d940ee03fad4b3",
        "type": "mqtt out",
        "z": "a23d897f30b13a58",
        "name": "",
        "topic": "processing",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a0fa9c8f135e7a4f",
        "x": 770,
        "y": 800,
        "wires": []
    },
    {
        "id": "d6907155e04a9954",
        "type": "mqtt-broker",
        "name": "ProveIT",
        "broker": "virtualfactory.proveit.services",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a0fa9c8f135e7a4f",
        "type": "mqtt-broker",
        "name": "enterprise-b",
        "broker": "50.116.13.109",
        "port": "32160",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]